.titleofabout{
    color:  rgb(65, 4, 44);
}
.box{
    background-color:  rgb(250, 220, 240);
    padding: 4rem 4rem;
}
.firstbox{
    color:rgb(82, 6, 55); ;
}

.box .box1{
    color: white;
    background-color:  rgb(65, 4, 44);
    border-radius: 20px;
    padding: 4rem 4rem;
}
.thirdbox{
    padding: 3rem 3rem;
}

.thirdbox .thirdbox1{
    font-size: 20px;
   
}
.thirdbox .thirdbox2{
    border: 1px solid  rgb(65, 4, 44);
    padding: 2rem 2rem;
}
.thirdbox .thirdbox2 box-icon:hover{
  transform: scale(1.5);
}